.about-us-container {
  position: relative;
  padding: 50px 120px;
  font-size: 1.2rem;
  color: white;
  overflow: hidden;
  background: rgb(66, 66, 66) url("../images/white-wall.png");
  z-index: -1;
}

.about-us-main-title {
  border-bottom: 1px solid rgb(255, 255, 0);
  line-height: 1.5;
  margin: 0;
}

.about-us-main-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700px;
  line-height: 1.5;
}
.about-section {
  /* border: 2px dashed red; */
  margin-bottom: 40px;
}

.about-title {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 0);
  line-height: 1.5;
  margin-bottom: 30px;
}

.personal-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 200px;
  row-gap: 50px;
  justify-content: space-between;
}

.profile-picture {
  width: 160px;
  border-radius: 100px;
}

@media only screen and (max-width: 400px) {
  .about-us-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
  }
  .personal-detail {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 100px;
    row-gap: 20px;
  }
  .personal-detail-photo {
    align-items: center;
    text-align: center;
  }
  .about-section {
    margin-bottom: 30px;
  }
}
