.about-us-container {
  padding: 50px 150px;
  height: auto;
  /* background-color: rgb(156, 191, 196); */
  font-family: "inter", "sans-serif";
  font-size: 1.2rem;
  color: white;
}

.about-us-main-title {
  border-bottom: 1px solid rgb(255, 255, 0);
  line-height: 1.5;
  margin: 0;
}

.about-section {
  /* border: 2px dashed red; */
  margin-bottom: 40px;
}

.about-us-main-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700px;
  line-height: 1.5;
}

.about-title {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 0);
  line-height: 1.5;
}

.personal-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 200px;
  row-gap: 50px;
  /* align-items: center; */
  justify-content: space-between;
}

.profile-picture {
  width: 160px;
  border-radius: 100px;
}

.background-blur-about-us {
  background-image: url("../images/about-us-background.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  z-index: -1;
}
