*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  margin-bottom: 1rem;
}

a {
  /* color: #1976d2; */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 400px) {
  body {
    padding-top: 80px;
    background-color: white;
  }
}
