*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  padding-top: var(--header-height, 120px);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

/* html,
body {
  padding-top: 50px;
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.main {
  position: relative;
  z-index: 1;
}
