footer {
  background-color: rgb(29, 28, 28);
  padding-block: 40px;
  padding-inline: 1rem;
  height: auto;
}

.footer-container {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #fffefe;
  line-height: 1.6;
  max-width: 960px;
  margin: 0 auto;
}
